.env
.envrc
.task
.DS_Store

*.crt
*.key
*.pem
out/
# tf folder
**/.terraform/*
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
env
.venv
terraform.tfvars
.task
generated

**/k8s/charts
kubernetes/apps/**/charts
kubernetes/charts/homelab-gateway/charts
platform/ai/k8s/integrations/openwebui/charts
platform/ai/k8s/llm-providers/ollama/charts

.DS_Store
.pytest_cache
__pycache__
dist/
.venv
.mypy_cache
.ruff_cache
chroma.sqlite3
.idea
*.pkl
