---
apiVersion: v1
kind: Service
metadata:
  name: n8n-service
  namespace: automation
spec:
  selector:
    app: n8n
  ports:
    - port: 80
      name: https
      protocol: TCP
      targetPort: 5678
