---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: serviceexports.multicluster.x-k8s.io
spec:
  group: multicluster.x-k8s.io
  scope: Namespaced
  names:
    kind: ServiceExport
    plural: serviceexports
    singular: serviceexport
    shortNames:
      - svcexport
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              description: ServiceExport specification
            status:
              type: object
              description: ServiceExport status
              properties:
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      lastTransitionTime:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: serviceimports.multicluster.x-k8s.io
spec:
  group: multicluster.x-k8s.io
  scope: Namespaced
  names:
    kind: ServiceImport
    plural: serviceimports
    singular: serviceimport
    shortNames:
      - svcimport
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                ips:
                  type: array
                  items:
                    type: string
                type:
                  type: string
                  enum: ["ClusterSetIP", "Headless"]
                ports:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      protocol:
                        type: string
                      port:
                        type: integer
                      targetPort:
                        anyOf:
                          - type: integer
                          - type: string
                sessionAffinity:
                  type: string
                  enum: ["None", "ClientIP"]
                sessionAffinityConfig:
                  type: object
            status:
              type: object
              properties:
                clusters:
                  type: array
                  items:
                    type: object
                    properties:
                      cluster:
                        type: string
