---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - gateway.yaml
  - storage
  - llm-providers
  - integrations
  - ui-http-route.yaml
helmCharts:
  - name: kagent
    releaseName: kagent
    repo: oci://ghcr.io/kagent-dev/kagent/helm
    namespace: ai
    valuesInline:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
        readOnlyRootFilesystem: true
      providers:
        default: openAI
        openAI:
          provider: OpenAI
          model: "gpt-4o-mini"
          apiKeySecretRef: openai-api-key-secret
          apiKeySecretKey: apiKey
        ollama:
          provider: Ollama
          model: "llama3.2"
          config:
            host: ollama.ai.svc.cluster.local:11434
