---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - ai-platform-storage.yaml
  - gateway.yaml
  - storage
  - llm-providers
  - integrations
  - ui-http-route.yaml
helmCharts:
  - name: kagent-crds
    releaseName: kagent-crds
    repo: oci://ghcr.io/kagent-dev/kagent/helm
    namespace: ai
  - name: kagent
    releaseName: kagent
    repo: oci://ghcr.io/kagent-dev/kagent/helm
    namespace: ai
    valuesInline:
      providers:
        default: openAI
        openAI:
          apiKey: ${OPENAI_API_KEY}
