services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      downloads:
        ipv4_address: ${DOWNLOADS_IP}
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
      net.ipv6.conf.default.disable_ipv6: 1
    environment:
      TZ: America/New_York
      VPN_SERVICE_PROVIDER: ${VPN_SERVICE_PROVIDER}
      VPN_TYPE: wireguard
      WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
      SERVER_COUNTRIES: ${SERVER_COUNTRIES}
      FREE_ONLY: ${FREE_ONLY:-on}
      VPN_IPV6_DISABLED: ${VPN_IPV6_DISABLED:-on}
      DOT: ${DOT:-on}
      DNS_KEEP_NAMESERVER: ${DNS_KEEP_NAMESERVER:-on}
    restart: unless-stopped
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.qbittorrent.rule=Host(`qbit.local`)"
    #   - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbittorrent:/config
      - /mnt/downloads:/downloads
    restart: unless-stopped

networks:
  downloads:
    driver: macvlan
    driver_opts:
      parent: eth1
    ipam:
      config:
        - subnet: ${SUBNET_CIDR}
          gateway: ${GATEWAY}
