---
version: 3

tasks:
  provision_booter:
    description: "Provision the Raspberry Pi with netbooting capabilities"
    cmds:
      - playbooks/rpi_provision_netboot.yaml

  provision_lxc:
    description: "Configure LXC container with mount points and device passthrough"
    cmds:
      - ansible-playbook playbooks/provision_lxc.yaml

  provision_gpu_passthrough:
    description: "Provision the host for GPU passthrough"
    cmds:
      - ansible-playbook playbooks/provision_gpu_passthrough.yaml
    status:
      - nvidia-smi
