machine:
  kubelet:
    extraArgs:
      rotate-server-certificates: true
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        addresses:
          - ${node_ip}
        routes:
          - network: 0.0.0.0/0
            gateway: ${network_gateway}
    nameservers:
      - 192.168.1.1
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
