---
bases:
  - ../defaults.yaml

repositories:
  - name: external-dns
    url: https://kubernetes-sigs.github.io/external-dns
  - name: jetstack
    url: https://charts.jetstack.io

releases:
  - name: internal-dns
    namespace: external-dns
    chart: external-dns/external-dns
    version: 1.17.0
    createNamespace: true
    values:
      - ../apps/networking/externaldns/internal-values.yaml.gotmpl

  - name: external-dns
    namespace: external-dns
    chart: external-dns/external-dns
    version: 1.17.0
    createNamespace: true
    values:
      - ../apps/networking/externaldns/external-values.yaml.gotmpl

  - name: cert-manager
    namespace: cert-manager
    chart: jetstack/cert-manager
    createNamespace: true
    needs:
      - external-dns/external-dns
    values:
      - crds:
          enabled: true
        nodeSelector:
          kubernetes.io/hostname: mlops-work-01
        cainjector:
          nodeSelector:
            kubernetes.io/hostname: mlops-work-01
        webhook:
          nodeSelector:
            kubernetes.io/hostname: mlops-work-01
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "bash"
        args:
          - -c
          - |
            kustomize build ../apps/security/cert-manager \
              --enable-helm --enable-exec --enable-alpha-plugins | envsubst | kubectl apply -f -

  - name: homelab-gateway
    chart: ../charts/homelab-gateway
    namespace: kube-system
    needs:
      - external-dns/external-dns
      - cert-manager/cert-manager
    values:
      - external:
          domain: {{ requiredEnv "CLOUDFLARE_DOMAIN" }}
          tunnel_id: {{ requiredEnv "CLOUDFLARE_TUNNEL_ID" }}
      - cloudflare-tunnel:
          cloudflare:
            account: {{ requiredEnv "CLOUDFLARE_ACCOUNT_TAG" }}
            tunnelName: homelab_external
            tunnelId: {{ requiredEnv "CLOUDFLARE_TUNNEL_ID" }}
            secret: {{ requiredEnv "CLOUDFLARE_TUNNEL_SECRET" }}
            ingress:
              - hostname: {{ requiredEnv "CLOUDFLARE_DOMAIN" }}
                service: https://homelab.external
          image:
            pullPolicy: Always
