---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: openai
  namespace: ai
spec:
  type: AI
  ai:
    llm:
      openai:
        model: "gpt-4o-mini"
        authToken:
          kind: SecretRef
          secretRef:
            name: openai-api-key-secret
